<nav>
    <a href="/">Y</a>
    <div class="navLinksWrapper">
        <a href="/">Hacker News</a>
        <ul class="navLinkList">
            <li class="navLinkItem"><a class="navItemAnchor">new</a></li>
            <li class="navLinkItem"><a class="navItemAnchor">comments</a></li>
            <li class="navLinkItem"><a class="navItemAnchor">show</a></li>
            <li class="navLinkItem"><a class="navItemAnchor">ask</a></li>
            <li class="navLinkItem"><a class="navItemAnchor">jobs</a></li>
            <li class="navLinkItem"><a class="navItemAnchor">submit</a></li>
        </ul>
    </div>
    <a href="/">login</a>
</nav>

<div class="storyWrapper">
    <h2><%= @storyItem["by"] %></h2>
</div>
