@import 'partials/setup';

// brak points 750 & 300
/* ----- VARIABLES -----*/
$fontStack: Verdana, Geneva, sans-serif;
$backgroundColor: #F6F6EF;
$fontGrey: #828282;

/* ----- GLOBAL STYLES -----*/
.contentWrapper {
    width: 85%;
    margin: 0 auto;
    background: $backgroundColor;
}
body {
    font-family: $fontStack;
    font-size: 62.5%;
    margin: 8px;
}
p {
    margin: 0;
}

/* ----- NAV BAR -----*/
.navBarWrapper {
    background-color: #FF6600;
    padding: 2px;
}
.navBarLoginWrapper {
    float: right;
    padding-right: 4px;
}
.navLogoWrapper {
    float: left;
}
.navLogoWrapper, .navBarLoginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLogoBorder {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
}
.navLogo {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}
.navTitle {
    font-size: 0.85rem;
    font-weight: bold;
    margin-left: 5px;
}
.navTitle, .navItemAnchor, .navLoginLink {
    color: black;
    text-decoration: none;
}
.navLinksWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: left;
}
.navLinkList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
.navItemAnchor {
    padding: 4px;
}
.navLinkItem:first-child .navItemAnchor {
    padding-left: 0;
}
.navItemAnchor, .navLoginLink {
    text-decoration: none;
    font-size: 0.85rem;
}
.navLinkItem::after {
    content: '|';
}
.navLinkItem:last-child::after {
    content: '';
}

/* ----- PAGE CONTENT -----*/
.storiesList {
    color: $fontGrey;
    margin: 10px 0;
    padding: 0;
    font-size: 0.85rem;
    list-style-type: none;
}
.storyWrapper {
    padding-bottom: 5px;
}
.storyWrapper a {
    text-decoration: none;
    color: inherit;
}
.storyWrapper .storyLink {
    color: black;
}
.storyWrapper .storyLink:visited {
    color: inherit;
}
.storyWrapper a:hover {
    text-decoration: underline;
}
.storyWrapper .storyLink:hover {
    text-decoration: none;
}
.storyIndex, .voteArrowWrapper, .storyContentWrapper {
    float: left;
}
.storyIndex {
    text-align: right;
    width: 1.7rem;
}
.voteArrowWrapper {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 0.45rem;
}
.voteArrow {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid $fontGrey;
    margin: 3px;
    margin-top: 0.35rem;
}
.titleText {
    padding-bottom: 2px;
}
.sourceLink {
    font-size: 0.6rem;
    padding-left: 3px;
}
.subText {
    font-size: 0.6rem;
}

/* ----- MEDIA QUERIES -----*/
@media (max-width: 750px) {
    /* ----- GLOBAL -----*/
    body {
        margin: 0;
    }
    .contentWrapper {
        width: 100%;
    }

    /* ----- NAV BAR -----*/
    .navTitle {
        font-size: 1rem;
    }
    .navLogoWrapper, .navBarLoginWrapper {
        padding: 4px;
    }
    .navLinkList {
        padding-bottom: 4px;
    }
    .navLinksWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .navItemAnchor, .navLoginLink {
        font-size: 0.75rem;
    }
}
@media (max-width: 300px) {
    /* ----- GLOBAL -----*/
    body {
        margin: 8px;
    }
    .contentWrapper {
        width: 85%;
    }
}